#!/usr/bin/make -f
# -*- makefile -*-

export DEB_CFLAGS_MAINT_APPEND  = -Wall
export DEB_LDFLAGS_MAINT_APPEND = -Wl,-z,defs

%:
	dh $@ --verbose

override_dh_auto_configure:
	dh_auto_configure -- --enable-xattr --enable-acl --with-bz2lib

override_dh_auto_install:
	dh_auto_install

	mv $(CURDIR)/debian/tarsnap/etc/tarsnap.conf.sample $(CURDIR)/debian/tarsnap/etc/tarsnap.conf
	sed -i 's,cachedir .*,cachedir /var/lib/tarsnap/cache,' $(CURDIR)/debian/tarsnap/etc/tarsnap.conf

override_dh_fixperms:
	dh_fixperms
	chmod 0700 $(CURDIR)/debian/tarsnap/var/lib/tarsnap/cache
